:root {
    --corPadrao: #eff868;
    --corTexto: #551a8b;
}

body{
    margin: 0px;
    user-select: none;
}

header {
    width: 100%;
    background-color:#f8f187;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    color: var(--corTexto);
    font-family: 'Nunito', sans-serif;
    cursor: default; 
    border-bottom: 5px solid #551a8b;
    
}

.conteudo{
    flex-wrap: wrap;

}
.image-logo {
    width: 15%;

}
.image-logo img {
    width: 100%;
    border-radius: 30px;    
}
.text-logo {
    margin-left: 30px;
}
.text-logo h1{
    font-size: 35px;
}

.text-logo h1::after {
    content: '';
    position: absolute;
    margin-top: 10px;
    width: 10%;
    height: 3px;
    background: #551a8b;
    border-radius: 5px;

}

.container {
    display: flex;
    align-items: center;
}
 
ul li a {
    text-decoration: none;
}

/* traço embaixo do "sobre" e "instagram"
#access-links::after{
content: '';
position:absolute;
width: 10%;
height: 3px;
background: #551a8b;
border-radius: 5px;
left: 0;
bottom: 5px;
transform: scaleX(0);
transition:transform .5s;
}

#access-links:hover::after {
    transform: scaleX(1);
}
*/

.menu-header li {
    display: inline-block;
    margin: 0px 10px;   
    padding: 10px 20px;
}
.menu-header li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: var(--corTexto);
    padding: 5px 15px;   
}
.menu-header li a:hover {
    background-color: #a74e6cce;
    border-radius: 25px;
    width: 300px;
      height: 150px;
      margin: 20px auto;
      transition: 350ms linear
  
}

#dataperson input:hover{
    background-color: #f8f3ea;

}
#dataperson input:focus-visible{
    background-color: rgb(168, 226, 157);

}
fieldset {
  border-radius: 4px;
  border-color: rgb(151, 146, 144);
  margin-bottom: 10px;
}

#container-form{
    width: 96.7%;
    height: 100%;
    margin: 0px;
    padding: 5px 20px;
    background-color: #EEE;
    display: flex;
    align-items: center;
    justify-content: center; 
    box-shadow: 5px, 5px, 10px rgba(0,0,0,.212);
}

.divAtuacao {
    width: 96,7%;
    height: 1%;
    margin: 0px;
    padding: 5px 20px;
    background-color: #EEE;
    box-shadow: 5px, 5px, 10px rgba(0,0,0,.212); 
    display: flex;
    align-items: center;
    justify-content: center;  
}

.main-form label{
    display:inline-table;
    flex-direction: column;
    width: 400px;
    margin-bottom: 15px;
}

button{
    border: none;
    background-color:rgba(109, 226, 172, 0.774) ;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor:pointer;
}

button:hover{
    transition: 350ms;
    background-color:rgba(87, 131, 196, 0.863) ;
}

#obs{
    resize:none;
}



